/SCM/nbproject/private/
/SCM/build/
/T2/build/
/T2/dist/
/SCM/dist/
/T3/Ss/nbproject/private/
/T3/Ss/build/
/T3/Appt3/nbproject/private/
/T3/Appt3/dist/
/T3/Appt3/build/
/T3/AppT3/nbproject/private/
/T3/AppT3/build/
/T3/app/nbproject/private/
/T3/app/build/
/T3/app/dist/
/T3/AdvancedMedia/nbproject/private/
/T3/AdvancedMedia/build/
/T3/AdvancedMedia/dist/
/T3/mavenproject1/target/
/T3.1/nbproject/private/
/T3.1/build/
/T3.1/dist/
/T31/nbproject/private/
/T31/build/
/T31/dist/
/t31/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/build/
/JavaFXApplication3/dist/
/JavaFXApplication4/nbproject/private/
/Tutoriais javafx/TransicaoTelaJanelas/nbproject/private/
/Tutoriais javafx/TransicaoTelaJanelas/dist/
/Tutoriais javafx/TransicaoTelaJanelas/build/