/SCM/nbproject/private/
/SCM/build/
/T2/build/
/T2/dist/
/SCM/dist/
/T3/Ss/nbproject/private/
/T3/Ss/build/
/T3/Appt3/nbproject/private/
/T3/Appt3/dist/
/T3/Appt3/build/
/T3/AppT3/nbproject/private/
/T3/AppT3/build/
/T3/app/nbproject/private/
/T3/app/build/
/T3/app/dist/